[Unit]
Description=Meddicit service
After=local-fs.target network.target

[Service]
Type=simple
User=cyphraium
Group=cyphraium
WorkingDirectory=/var/apps/cyphraium/rel/api
ExecStart=/var/apps/cyphraium/rel/api/bin/api start
ExecStop=/var/apps/cyphraium/rel/api/bin/api stop
Environment=LANG=en_US.utf8
Environment=MIX_ENV=prod
EnvironmentFile=/etc/default/cyphraium.env


Environment=PORT=80
LimitNOFILE=65535
UMask=0027
SyslogIdentifier=meddicit
Restart=always


[Install]
WantedBy=multi-user.target